{% extends 'base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Club ID </th>
            <th>Club Name</th>
            <th>Street address </th>
            <th>Street Number</th>
            <th>City</th>
            <th>Postcode</th>
            <th>Landline Number</th>
            <th>Mobile Number</th>
            <th>Representative</th>
        </tr>
    </thead>
    <tbody>
        {% for item in club %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.street }}</td>
            <td>{{ item.street_num }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.postcode}}</td>
            <td>{{ item.landline_no}}</td>
            <td>{{ item.mobile_no}}</td>
            <td>{{ item.representative}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}