<div class="modal fade" id="addClubRepModal" tabindex="-1" aria-labelledby="addClubRepModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="addClubRepModalLabel">Add Clubs and Reps</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="">Club Representative First Name</label>
                <input type="text" name="representative.first_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Club Representative Last Name</label>
                <input type="text" name="representative.last_name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" name="representative.date_of_birth" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="">Club Name</label>
                <input type="text" name="club.name" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Street Number</label>
                <input type="text" name="club.street_num" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Street Name</label>
                <input type="text" name="club.street" class="form-control">
            </div>

            <div class="form-group">
                <label for="">City</label>
                <input type="text" name="club.city" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Post Code</label>
                <input type="text" name="club.postcode" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="user.email" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Mobile Number</label>
                <input type="tel" name="club.mobile_no" minlength="10" maxlength="10" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Landline Number</label>
                <input type="tel" name="club.landline_no" minlength="10" maxlength="10" class="form-control">
            </div>

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
</div>    


            

              

       