<div class="modal fade" id="createFilmModal" tabindex="-1" aria-labelledby="createFilmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="createFilmModalLabel">Add Film</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="">Title</label>
          <input type="text" name="film.title" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Rating</label>
          <input type="text" name="film.rating" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Duration</label>
          <input type="text" name="film.duration" class="form-control">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="film.description"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Image</label>
          <input class="form-control" type="file" id="formFile" name="film.image">
        </div>

        <div class="form-group">
          <label for="">Trailer</label>
          <input type="text" name="trailer" class="form-control">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>