<div class="modal fade" id="createFilmModal" tabindex="-1" aria-labelledby="createFilmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="createFilmModalLabel">Add Film</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="">Title</label>
          <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Rating</label>
          <input type="text" name="rating" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Duration</label>
          <input type="text" name="duration" class="form-control">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Image</label>
          <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
        </div>

        <div class="form-group">
          <label for="">Trailer</label>
          <input type="text" name="trailer" class="form-control">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#createFilmModal').on('click', '.btn-primary', function() {
  var form = $('#createFilmModal').find('form');
  var formData = new FormData(form[0]);
  $.ajax({
    url: '/api/v1/film',
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(data) {
      console.log(data);
    },
    error: function(data) {
      console.log(data);
    }
  });
});
</script>