{% extends '../base.html' %} {% block content %}
<div class="container mt-5 d-flex flex-column align-items-center">
	<div class="card mt-4" style="width: 20rem;">
		<div class="card-body">
			<h2 class="font-weight-bold mb-3 text-center">
				Sign In
			</h2>
			<form method="post" class="font-weight-light">
				{% csrf_token %}
				<!-- Display Error if exists -->
				{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
				{% endif %}

				<div class="px-2 mb-4">
					<div class="form-group">
						<label for="email" class="fs-6">E-Mail</label>
						<input type="email" class="form-control" id="email" name="email" />
					</div>
	
					<div class="form-group mt-4">
						<label for="password" class="fs-6">Password</label>
						<input type="password" class="form-control" id="password" name="password" />
					</div>

					<input type="submit" value="Sign In" class="btn btn-info mt-2 w-100 fw-bold mt-4  " />
					
					<div class="mt-4">
						<a class="" href="/auth/register">I don't have an account yet?</a>
					</div>

				</div>

			</form>
		</div>

  </div>
</div>
{% endblock %} {% block additional_styles %} {% endblock %}
